<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>
    <h2> <%= header %> </h2>
    <p> Here we are on the Home Page! </p>
    <% if(!user) {  %>
    <a href="/auth/login"><button> Login </button></a>
    <a href="/auth/signup"><button> Sign Up </button></a>
    <% }else {  %>
         <a href="/account"><button> My account </button></a>
          <form method="post" action="/auth/logout"><button type="submit"> Logout </button></a>
    <% } %>
</body>
</html>